.box-signo{
    width: 150px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;
    background-color: #856957;
    border-radius: 10px;
    color: #fff;
    margin: 10px;
    box-shadow: 3px 3px 3px rgb(165, 165, 165);
}

.box-signo img{
    width: 120px;
    height: 120px;
    border: 1px solid #734116;
    box-shadow: 1px 1px 30px rgb(66, 66, 66);
}

.signo-nome{
    font-size: 18px;
    font-weight: bold;
    text-shadow: 3px 3px 20px black;
}

.signo-data{
    font-size: 14px;
    text-shadow: 3px 3px 10px black;

}